## In this code, we are dropping all the rows with nan values and then building a model.

In [31]:
import numpy as np
import pandas as pd

df=pd.read_csv('train.csv')

In [32]:
df1=df.dropna()

In [33]:
print(len(df),len(df1))

50882 23548

In [34]:
X=df1.iloc[:,:-1]
Y=df1.iloc[:,-1]

In [35]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23548 entries, 0 to 50881
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       23548 non-null  int64
 1   City_Code                23548 non-null  object
 2   Region_Code              23548 non-null  int64
 3   Accomodation_Type        23548 non-null  object
 4   Reco_Insurance_Type      23548 non-null  object
 5   Upper_Age                23548 non-null  int64
 6   Lower_Age                23548 non-null  int64
 7   Is_Spouse                23548 non-null  object
 8   Health Indicator         23548 non-null  object
 9   Holding_Policy_Duration  23548 non-null  object
 10  Holding_Policy_Type      23548 non-null  float64
 11  Reco_Policy_Cat          23548 non-null  int64
 12  Reco_Policy_Premium      23548 non-null  float64
dtypes: float64(2), int64(5), object(6)
memory usage: 2.5+ MB

In [36]:
X=X.drop(['ID'],axis=1)

In [37]:
cat=['City_Code','Accomodation_Type','Reco_Insurance_Type','Is_Spouse','Health Indicator','Holding_Policy_Duration']
num=[i for i in X.columns if i not in cat]

In [38]:
X1=X.loc[:,cat]

In [39]:
from sklearn.preprocessing import LabelEncoder
X1=X1.apply(LabelEncoder().fit_transform)

In [40]:
X2=X.loc[:,num]

In [41]:
X.head()

,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0
3,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0
4,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0
5,C9,1785,Rented,Individual,52,52,No,X2,5.0,1.0,22,15264.0
7,C1,3175,Owned,Joint,75,73,Yes,X4,9.0,4.0,17,29344.0

In [42]:
X=pd.concat([X1,X2],axis=1)

In [43]:
X.head()

,City_Code,Accomodation_Type,Reco_Insurance_Type,Is_Spouse,Health Indicator,Holding_Policy_Duration,Region_Code,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,22,1,0,0,0,5,3213,36,36,3.0,22,11628.0
3,16,0,1,0,0,5,4378,52,48,3.0,19,17780.0
4,34,1,0,0,1,8,2190,44,44,1.0,16,10404.0
5,35,1,0,0,1,10,1785,52,52,1.0,22,15264.0
7,0,0,1,1,3,14,3175,75,73,4.0,17,29344.0

In [44]:
X=X.reset_index()
Y=Y.reset_index()

In [61]:
X=X.drop(['index'],axis=1)
Y=Y.drop(['index'],axis=1)

In [69]:
from sklearn.ensemble import RandomForestClassifier
reg=RandomForestClassifier(n_estimators=10,random_state=0,oob_score=True,max_depth=10)

In [70]:
reg.fit(X,Y)

<ipython-input-70-3a65713006f7>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  reg.fit(X,Y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:540: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:544: RuntimeWarning: invalid value encountered in true_divide
  decision = (predictions[k] /

RandomForestClassifier(max_depth=10, n_estimators=10, oob_score=True,
                       random_state=0)

In [71]:
Y_pred=reg.predict(X)

In [72]:
from sklearn.metrics import confusion_matrix

In [73]:
cm=confusion_matrix(Y,Y_pred)

In [75]:
cm

array([[17846,     2],
       [ 5584,   116]], dtype=int64)

In [76]:
reg.oob_score_

0.752717852896212

In [77]:
reg.score(X,Y)

0.762782401902497